@import "styles/sizes.scss";

.contentItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contents {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  width: 100%;
  padding-bottom: 100px;
}

@media (max-width: $XS) {
  .contents {
    margin-left: 20px;
    padding-bottom: 40px;
  }
}