@import "styles/colors.scss";

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $TRANSPARENTBLACK;
    animation-name: appear;
    animation-duration: 300ms;
  }
  
  .modalDialog {
    width: 100%;
    max-width: 800px;
    background: white;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 30px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 $TRANSPARENTBLACK, 0 6px 20px 0 $TRANSPARENTBLACK;
    animation-name: slide-in;
    animation-duration: 0.5s;
  }