@import "styles/colors.scss";
@import "styles/global.scss";

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table td,
.table th {
  padding-right: 10px;
  padding: 1rem;
  width: 10px;
  height: 30px;
  text-align: start;
}

.table th {
  vertical-align: top;
  font-size: $font-small;
  color: $BLACK;
  font-weight: normal;
}

.discription {
  font-weight: 300;
  vertical-align: top;
  font-size: $font-small;
}

.value {
  font-size: $font-large;
}
