.header {
    width: 100%;
    height: 3.4rem;
    background-color: white;
    border-bottom: solid 1px black;
    display:flex;
}

.logo {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    height: 3.4rem;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-panel{
    border: none;
}

.search-panel :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
